# Build artifacts
build/
out/
cmake-build-*/

# IDE
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*

# CPM cache
.cpm/

# OS
.DS_Store
Thumbs.db
nul

# Binaries
*.exe
*.dll
*.vst3
*.lib
*.obj
*.pdb
*.ilk

# Backups
releases/
